<a href="https://colab.research.google.com/github/tomaravi7/big-data-assignments/blob/main/Assignment3_feb7_202301013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

data = [
    ["Yes", "Single", 125000, "No"],
    ["No", "Married", 100000, "No"],
    ["No", "Single", 70000, "No"],
    ["Yes", "Married", 120000, "No"],
    ["No", "Divorced", 95000, "Yes"],
    ["No", "Married", 60000, "No"],
    ["Yes", "Divorced", 220000, "No"],
    ["No", "Single", 85000, "Yes"],
    ["No", "Married", 75000, "No"],
    ["No", "Single", 90000, "Yes"],
]
df = pd.DataFrame(data, columns=["Refund", "Marital Status", "Taxable Income", "Cheat"])

print(df)

  Refund Marital Status  Taxable Income Cheat
0    Yes         Single          125000    No
1     No        Married          100000    No
2     No         Single           70000    No
3    Yes        Married          120000    No
4     No       Divorced           95000   Yes
5     No        Married           60000    No
6    Yes       Divorced          220000    No
7     No         Single           85000   Yes
8     No        Married           75000    No
9     No         Single           90000   Yes

In [23]:
print(df.loc[[0,4,7,8]])

  Refund Marital Status  Taxable Income Cheat
0    Yes         Single          125000    No
4     No       Divorced           95000   Yes
7     No         Single           85000   Yes
8     No        Married           75000    No

In [11]:
df2=pd.read_csv('https://raw.githubusercontent.com/AnjulaMehto/MCA/main/data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]